@model IEnumerable<AuthorAuthentication.ViewModel.AuthorBookVM>

@{
    ViewBag.Title = "AuthorBooks";
}

<h2>AuthorBooks</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        
    </tr>
}

</table>
